<footer class="bg-red-500 h-full flex flex-col">
    <div class="main flex items-center justify-between px-40 py-5 ">
        <section class="logo basis-0 grow-[.5]">
            <h1 class="text-3xl font-semibold tracking-wider">Furniture.com</h1>
        </section>
        <section class="links flex items-center justify-evenly basis-0 grow">
            <article class="flex flex-col items-start gap-3 font-semibold">
                <h3 class="article-header">Links List 1</h3>
                <ul class="flex flex-col justify-center items-center gap-2">
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                </ul>
            </article>
            <article class="flex flex-col items-start gap-3 font-semibold">
                <h3 class="article-header">Links List 2</h3>
                <ul class="flex flex-col justify-center items-center gap-2">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 1</a></li>
                </ul>
            </article>
            <article class="flex flex-col items-start gap-3 font-semibold">
                <h3 class="article-header">Links List 3</h3>
                <ul class="flex flex-col justify-center items-center gap-2">
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 2</a></li>
                </ul>
            </article>
        </section>
    </div>
    <div class="copyright text-center font-semibold bg-red-600 p-4">
        <h3>
            Copyright reserved @ Furniture.com
        </h3>
    </div>
</footer>