<header class="h-full">
    <nav id="main-header" class="h-full flex justify-between items-center gap-20 px-40 py-3">
        <div class="logo">
            <a href="">
                <h1 class="text-3xl hover:text-red-400 duration-200">Furniture.com</h1>
            </a>
        </div>
        <div class="search p-1 basis-0 grow bg-slate-50">
            <i class="ri-search-2-line absolute"></i>
            <input class="px-6 w-full bg-transparent outline-none" type="text" name="search" id="search" placeholder="Search">
        </div>        
        <div class="profile-options flex items-center justify-center gap-2">
            <i class="ri-user-4-line text-2xl hover:text-blue-400 duration-200 cursor-pointer"></i>
            <i class="ri-heart-3-line text-2xl hover:text-red-400 duration-200 cursor-pointer"></i>
            <i class="ri-shopping-cart-line text-2xl hover:text-yellow-400 duration-200 cursor-pointer"></i>
        </div>
    </nav>
    <nav id="second-header" class="">
        <ul class="flex items-center  justify-center gap-5 pt-2"> 
            <li class="text-l font-semibold hover:text-red-400 hover:border-b-2 hover:border-b-red-400 border  border-x-0 border-y-0 duration-200">
                <a href="">
                    <h3>Home</h3>
                </a>
            </li>
            <li class="text-l font-semibold hover:text-red-400 hover:border-b-2 hover:border-b-red-400 border  border-x-0 border-y-0 duration-200">
                <a href="">
                    <h3>Office</h3>
                </a>
            </li>
            <li class="text-l font-semibold hover:text-red-400 hover:border-b-2 hover:border-b-red-400 border  border-x-0 border-y-0 duration-200">
                <a href="">
                    <h3>Outdoor</h3>
                </a>
            </li>
            <li class="text-l font-semibold hover:text-red-400 hover:border-b-2 hover:border-b-red-400 border  border-x-0 border-y-0 duration-200">
                <a href="">
                    <h3>Storage</h3>
                </a>
            </li>
            <li class="text-l font-semibold hover:text-red-400 hover:border-b-2 hover:border-b-red-400 border border-x-0 border-y-0 duration-200">
                <a href="">
                    <h3>Affordable</h3>
                </a>
            </li>
        </ul>
    </nav>
</header>